

.main-header{
	padding: 20px 0;

	form{
		input{
			&[type="submit"]{
				border-radius: 0px 5px 5px 0px;
				border: 1px solid #58595B;
				border-left: none;
			}
			 &[type="search"]{
				background: #F1F2F2;
				border: 1px solid #58595B;
				padding: 10px;
				border-radius: 5px 0px 0px 5px;
				width: 195px;
			 }
		}
	}


	.header-call-to-action{

		span{
			display: block;
		}

		.header-call-to-action-content{
			font-size: 1.6rem;
			font-family: "Arial Narrow", Arial, sans-serif;
			font-style: italic;
			padding: 0 35px;
		}

		.header-call-to-action-phone{
			> span{
				font-family: "Arial Narrow", Arial, sans-serif;
				color: #000000;
				font-size: 2.4rem;
				font-weight: 600;

				&:first-child{
					color: #58595B;
					font-size: 1.8rem;
				}
			}
			
		}
	}

}




