.menu-section{
	background: #000;
	padding: 20px 0;

	.container{
		padding: 0px;
	}

	.btn.btn-danger{
		border-radius: 7px;
	}
}

#mainMenu{
	> #menu-main-menu{
		> li{
			margin: 0 10px;
			position: relative;

			> a{
				color: #FFFFFF;
				font-size: 1.7rem;
				padding: 10px 0;

				transition: color .4s;

				&.dropdown-toggle{
					&:after{
						display: none;
					}
				}
			}

			&:after{
				content: "";
				width: 0%;
				display: block;
				background: darken($primary-color,10%);
				height: 6px;
				position: absolute;
				bottom: 0px;
				transition: width .4s;
			}
			&:hover{
				>a{
					color: darken(#FFFFFF,20%);
					transition: color .4s;
				}

				&:after{
					width: 100%;
					transition: width .4s;
				}
			}

			&.current-menu-item{
				&:after{
					width: 100%;
				}
				
			}

			&.dropdown{
				&:hover{
					>.dropdown-menu{
						display: block;
					}
				}
			}
		}
	}


	.dropdown-menu{
		background: $black;
		padding: 0px;

		li{
			a{
				font-size: 1.7rem;
				color: #ffffff;

				&:hover{
					background: #58595B;
				}
				&:active,
				&:focus{
					background: $primary-color;
					color: $black;
				}
			}
		}
	}

}
