
.heading-qualification{
	position: relative;
	padding: 7px 30px;

	&:before{
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		background-image: url('../../assets/images/check-mark.png');
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -10px;
	}

	&:first-child{
		border-right: 1px solid #58595B;
		margin-right: 30px;
	}

	span{
		&:first-child{
			font-size: 1.6rem;
			line-height: 2rem;
			color: #000000;
			font-weight: 900;
		}
		display: block;
		color: #58595B;
		font-family: "Arial Narrow", Arial, sans-serif;
		font-size: 1.3rem;
		line-height: 1.8rem;
	}
}

.upper-footer{
	.heading-qualification{
		padding: 7px 20px 7px 30px;
		&:before{
			background-image: url('../../assets/images/check-mark-white.png');
		}
		span{
			&:first-child{
				color: #fff;
			}
			color: #fff;
		}
	}
}