.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	
}

h1{
	font-size: 2.5rem;
	margin-bottom: 15px;
}
h2{
	font-size: 2.5rem;
	margin-bottom: 15px;
}
h3{
	font-size: 2.2rem;
	margin-bottom: 15px;
}
h4{
	font-size: 2rem;
	margin-bottom: 15px;
}
h5{
	font-size: 1.8rem;
	margin-bottom: 15px;
}
h6{
	font-size: 1.8rem;
	margin-bottom: 15px;
}

p{
	font-size: 1.8rem;
	margin-bottom: 15px;
}

a{
	color: $yellow;
	&:hover{
		color: darken($yellow,20%);
	}
}

ul{
	li{

	}
}
ol{
	li{

	}
}


.container{
	p{
		&:last-child{
			margin-bottom: 0px;
		}	
	}
}