
body{
	header{
		.main-header{

			.button-list{
				display: flex;
				justify-content: flex-end;
				a{
					margin-left: 10px;
				    margin-left: 10px;
				    font-family: "Arial Narrow", Arial, sans-serif;
				    font-weight: 400;
				    font-size: 1.8rem;
				}

				/*@media (min-width: $screen-lg-min) {*/
					position: relative;
					top: -20px;
				/*}*/
			}

			.safety-suppliers-search{
				display: flex;

				form{
					margin-right: 40px;
				}

				.header-call-to-action{
					.header-call-to-action-phone{
						span{
							color: #000000;
							font-size: 2.4rem;
						}
					}
				}
			}
		}

		#logo{
			display: flex;
			/*
	    	#ist-logo{
				max-width: 252px;
				height: auto;		
	    	}
	    	#cst-logo{
	    		max-width: 123px;
				height: auto;	
	    	}
	    	*/
	    }

	}

	
	&.sticky-header{
		header{
		    #logo{
		    	width: 230px;
		    	
		    	img{
					width: auto;
					height: auto;
		    	}
		    	/*
		    	 #ist-logo{
				    width: 120px !important;
				    height: auto !important;
				  }
				  #cst-logo{
				    width: 60px !important;
				    height: auto !important;
				  }
				  */
		    }

		}

		.safety-suppliers-search{
			margin-top: 10px;
		}

	}
	

}


@media (max-width: $screen-lg-max) {
	body{
		header{
			.main-header{
				.button-list{
					margin-bottom: 20px;
				}
				.safety-suppliers-search{
					justify-content: center;
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	body header .main-header .safety-suppliers-search .header-call-to-action .header-call-to-action-phone span{
		font-size: 1.6rem;
	}
}