
body{
	header{
		.main-header{

			.button-list{
				display: flex;
				justify-content: flex-end;
				a{
					margin-left: 10px;
				    margin-left: 10px;
				    font-family: "Arial Narrow", Arial, sans-serif;
				    font-weight: 400;
				    font-size: 1.8rem;
				}

				@media (min-width: $screen-lg-min) {
					position: relative;
					top: -20px;
				}
			}

			.safety-suppliers-search{
				display: flex;
				@media (min-width: $screen-lg-min) {
					margin-top: 20px;
				}

				form{
					margin-right: 40px;
				}

				.header-call-to-action{
					.header-call-to-action-phone{
						span{
							color: #000000;
							font-size: 2.4rem;
						}
					}
				}
				
			}
		}
	}
	&.sticky-header{
		header{
		    #logo{
		    	img{
					width: 226px;
		    	}
		    }

		}
	}
}


@media (max-width: $screen-lg-max) {
	body{
		header{
			.main-header{
				.button-list{
					justify-content: center;
					margin-bottom: 20px;
				}
				.safety-suppliers-search{
					justify-content: center;
				}
			}
		}
	}
}