$black: #000000;
$red: #FF0000;
$orange: #F6921E;
$yellow: #FFD500;
$dark-yellow: #D49D1C;
$dark-orange: #F6921E;
$primary-color: $orange;

$screen-lg-min: 1200px;
$screen-lg-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-md-max: ($screen-md-min - 1);
$screen-sm-min: 768px;
$screen-sm-max: ($screen-sm-min - 1);
$screen-xsm-min: 576px;
$screen-xsm-max: ($screen-xsm-min - 1);