
.blog-container{
	display: flex;
}


.post-article{
	&.in-the-communuity-article{
		display: flex;
		justify-content: space-between;
	}

	>div{
		&.has-thumbnail{
			width: 50%;
		}
	}
	>img{
		align-self: center;
		margin-left: 20px;
	}
}


.nav-next{
	margin-right: 10px;
	a:hover{
		text-decoration: none;
		.btn-primary{
			background: darken($primary-color,5%);
	    	border-color: darken($primary-color,5%);
	    	color: #231F20;
		}
	}
}

.nav-previous{
	margin-left: 10px;
	a:hover{
		text-decoration: none;
		.btn-primary{
			background: darken($primary-color,5%);
	    	border-color: darken($primary-color,5%);
	    	color: #231F20;
		}
	}
}

.left-arrow{
	padding: 15px; 
	color: #58595B;
	position: relative;
	&:after{
	    content: "";
	    width: 0;
	    height: 0;
	    border-top: 7px solid transparent;
	    border-bottom: 7px solid transparent;
	    border-right: 9px solid #000;
	    position: absolute;
	    top: 9px;
	    left: 11px;
	}
}

.right-arrow{
	padding: 15px; 
	color: #58595B;
	position: relative;
	&:after{
	    content: "";
	    width: 0;
	    height: 0;
	    border-top: 7px solid transparent;
	    border-bottom: 7px solid transparent;
	    border-left: 9px solid #000;
	    position: absolute;
	    top: 9px;
	    left: 11px;
	}
}





.posts{
	.post{
		border-top: 1px solid #58595B;
	    padding: 40px 0;

		&:first-child{
			border-top: none;
			padding-top: 0px;
			margin-top: 0px;
		}

		div{
			&.has-thumbnail{
				img{
					max-width: 100%;
					height: auto;
					margin-bottom: 20px;
				}
			}
		}


		h2{
			a{
				color: #000000;
				&:hover{
					color: $dark-yellow;
					text-decoration: none;
				}
			}
		}

	}
}


.sidebar{
	margin-right: 50px;
	min-width: 30%;
}



.blog-feed{
	display: flex;
	justify-content: space-between;
	.post{
		width: 30%;
		border: 1px solid #58595B;
		padding: 25px;
		font-size: 1.6rem;
		position: relative;

		transition: background-color 0.5s ease, box-shadow 0.5s ease;

		span{
			display: block;
			font-family: "Arial Narrow", Arial, sans-serif;
			font-weight: 600;
			margin-bottom: 10px;
			transition: color 0.5s ease;

			&.post-date{
				color: $dark-yellow;
				font-size: 1.6rem;
			}
			&.post-title{
				font-size: 1.8rem;
			}
		}

		p{
			font-size: 1.6rem;
			font-family: "Arial Narrow", Arial, sans-serif;
			transition: color 0.5s ease;
		}

		a{
			&.post-read-more{
				color: $dark-yellow;
				transition: color 0.5s ease;
				position: relative;

				&:after{
				    content: "";
				    width: 0;
				    height: 0;
				    border-top: 7px solid transparent;
				    border-bottom: 7px solid transparent;
				    border-left: 7px solid $dark-yellow;
				    position: absolute;
				    right: -15px;
				    top: 2px;
				    transition: border-left-color 0.5s ease;
				}
			}
		}

		&:hover{
			background: $dark-yellow;
		    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		    cursor: pointer;

			span{
				&.post-date{
					color: #fff;
				}
				&.post-title{
					color: #fff;
				}
			}
			p{
				color: #fff;
			}
			a{
				&.post-read-more{
					color: #fff;

					&:after{
						border-left: 7px solid #fff;
					}
				}
			}
		}

	}
}





.widget{
	background: #F1F2F2;
	padding: 30px;
	margin-bottom: 30px;

	#searchform{
		position: relative;
		.screen-reader-text{
			display: none;
		}

		input[type="text"]{
			border: 1px solid #D0D2D3;
			padding: 5px;
		}
		input[type="submit"]{
		    background-color: transparent;
		    border: none;
		    background-image: url(../../assets/images/search-icon.png);
		    width: 45px;
		    height: 38px;
		    background-position: center center;
		    background-repeat: no-repeat;
		    text-indent: -9999px;
		    position: absolute;
		    top: 0px;
		    right: 0px;
		}
	}

	ul{
		list-style: none;
		li{
			margin-bottom: 10px;
			a{
				color: #58595B;
			}
			span{
				display: block;
			}
		}
	}
}





//responsive
@media (max-width: $screen-md-max) {
	.blog-feed{
		flex-direction: column;
		>.post{
			width: 100%;
			margin-top: 40px;
			&:first-child{
				margin-top: 0px;
			}
		}
	}
}


@media (max-width: $screen-md-max) {
	.blog-container{
		flex-direction: column;
	}
	.sidebar{
		margin-right: 0px;
		order: 2;
	}

	.post-article{
		&.in-the-communuity-article{
			flex-direction: column;
		}
		> div{
			width: 100% !important;
		}
		> img{
			min-width: 100%;
			height: auto;
			margin-left: 0px;
			margin-top: 20px;
		}
	}
}