.site-button {
  position: fixed;
  top: 30px;
  right: -20px;
  height: 120px;
  width: 120px;
  background-size: 100% !important;
	background-color: black;
  cursor: pointer;
  z-index: 99;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
					transition: 0.33s ease;
}
#othersites-footer{
	position: fixed;
  top: 30%;
	right: -10px;
	z-index: 9999999999999;
}

.site-button:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.35s cubic-bezier(0.3, 0.2, 0, 2.5);
  transition: 0.35s cubic-bezier(0.3, 0.2, 0, 2.5);
}
.site-button.industrial-button {
	background: url("http://209.126.119.193/~industrialsafety/wp-content/themes/industrialsafetytrainers/assets/images/icons/industrialsafteyIcon.png") no-repeat center;
	transition: 0.33s ease;
	top: 360px;
}
.site-button.industrial-button:hover {
  background: url("http://209.126.119.193/~industrialsafety/wp-content/themes/industrialsafetytrainers/assets/images/icons/industrialsafteyIcon.png") no-repeat center;
	transition: 0.33s ease;
	top: 360px;
	right: -5px;
}
.site-button.industrial-button.active {
	top: 360px;
	transition: 0.33s ease;
}
.site-button.construction-button {
	background: url("http://209.126.119.193/~industrialsafety/wp-content/themes/industrialsafetytrainers/assets/images/icons/constructionsafteyIcon.png") no-repeat center;
	transition: 0.33s ease;
	top: 475px;
}
.site-button.construction-button:hover {
  background: url("http://209.126.119.193/~industrialsafety/wp-content/themes/industrialsafetytrainers/assets/images/icons/constructionsafteyIcon.png") no-repeat center;
	transition: 0.33s ease;
	top: 475px;
	right: -5px;
}
.site-button.construction-button.active {
	top: 475px;
	transition: 0.33s ease;
}
.site-button.shopcart-button {
	background: url("http://209.126.119.193/~industrialsafety/wp-content/themes/industrialsafetytrainers/assets/images/icons/shoppingcartIcon.png") no-repeat center;
	transition: 0.33s ease;
  top: 590px;
}
.site-button.shopcart-button:hover {
  background: url("http://209.126.119.193/~industrialsafety/wp-content/themes/industrialsafetytrainers/assets/images/icons/shoppingcartIcon.png") no-repeat center;
	transition: 0.33s ease;
  top: 590px;
	right: -5px;
}
.site-button.shopcart-button.active {
  top: 590px;
	transition: 0.33s ease;
}

.upper-footer{
	background: $black;
	color: #ffffff;

	img{
		max-width: 100%;
		height: auto;
	}

	h5{
		color: $yellow;
	}

	>div{
		display: flex;
		justify-content: space-between;
		> div{
			min-width: 25%;
			border-left: 1px solid #ffffff;
			padding: 0 30px;

			ul{
				margin: 0px;
				padding: 0px;
				list-style: none;
				li{
					margin-bottom: 5px;
					a{
						color: #ffffff;
						font-size: 1.6rem;
						&:hover{
							color: darken(#ffffff,10%);
						}
					}
				}
			}

			&:first-child{
				border-left: none;
			}


			&.footer-logo{
				img{
					margin-bottom: 20px;
				}
				span{
					font-size: 1.6rem;
					font-style: italic;
					font-family: "Arial Narrow", Arial, sans-serif;
				}
			}

			&.footer-contact{
				>div{
					margin-bottom: 10px;

					span{
						font-family: "Arial Narrow", Arial, sans-serif;
						font-size: 1.4rem;
						display: block;
						&:first-child{
							font-size: 1.6rem;
							font-weight: 600;
						}
					}
				}
			}

		}
	}

	.textwidget{
		p{
			font-size: 1.6rem;
		}
	}
}

.footer-copy{
	background: #58595B;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-weight: 600;
	padding: 20px 0;
}

@media (max-width: $screen-lg-max) {
.social-icon {
	    margin: 10px 2px 0px !important;
	}
}
//responsive
@media (max-width: $screen-md-max) {
	.footer-copy {
	    padding: 20px 5px;
	}
	.upper-footer{
		>div{
			flex-wrap: wrap;
			>div{
				max-width: 50%;
				width: 50%;
				padding: 20px;
				text-align: center;
				border: none;
				margin-top: 0px;

				ul{
					li{
						margin-bottom: 0px;
						a{
							font-size: 1.2rem;
						}
					}
				}
			}
		}
		.textwidget p{
			font-size: 1.2rem;
		}
	}

	.heading-qualification:before{
		display: none !important;
	}

}


@media (max-width: $screen-sm-max) {
	.upper-footer{
		>div{

			>div{

			}
		}
	}
}


@media (max-width: $screen-xsm-max) {

	.upper-footer{
		>div{
			flex-direction: column;
			align-items: center;
			>div{
				width: 100%;
				max-width: 100%;
				&:first-child{
					margin-top: 0px;
				}
			}
		}
	}

}
