
form{
	>div{
		margin-bottom: 10px;

		&.form-header{
			background-color: $yellow;
			color: #231F20;
			font-size: 2.5rem;
			font-family: "Arial Narrow", Arial, sans-serif;
			font-weight: 600;
			padding:60px 20px 20px;
			margin-bottom: 40px;
		}

	}
}


input,textarea,select{
	background: #F1F2F2;
	border: none;
	color: #231F20;
	font-size: 2.0rem;
	padding:10px;
	width: 100%;
}

input[name="course_qty"] {
	max-width: 100px;
}

.contact-page-submit{
	p{
		width: 100%;
		margin-left: 10px;
	}
	input[type="submit"]{
		height: 100%;
		cursor: pointer;
	}
}




#coupon_code{
	width: 100%;
	margin-bottom: 5px;
}
.coupon {
    float: left;
		max-width: 100%;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
    margin-bottom: 5px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 100%!important;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: left!important;
    width: 100%!important;
}
#customer_details .col-1, #customer_details .col-2, .addresses .col-2, .addresses .col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.woocommerce form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0;
    text-decoration: none;
}
.woocommerce-page table.cart td.actions .coupon .input-text+.button {
    float: left;
    width: 100%;
}


@media (max-width: $screen-sm-max) {
	.wpcf7-form-control-wrap {
	    position: relative;
	    width: 100%;
	}
	.contact-page-submit{
		display: block!important;
	}
	.g-recaptcha{
		transform:scale(0.85);
		-webkit-transform:scale(0.85);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	.contact-page-submit input[type="submit"] {
	    height: 100%;
	    cursor: pointer;
	    display: block;
	    clear: both;
	    float: left;
	}
	.contact-page-submit p {
	    width: 100%;
	    margin-left: 0px;
	}
}
