
form{
	>div{
		margin-bottom: 10px;

		&.form-header{
			background-color: $yellow;
			color: #231F20;
			font-size: 2.5rem;
			font-family: "Arial Narrow", Arial, sans-serif;
			font-weight: 600;
			padding:60px 20px 20px;
			margin-bottom: 40px;
		}

	}
}


input,textarea,select{
	background: #F1F2F2;
	border: none;
	color: #231F20;
	font-size: 2.0rem;
	padding:10px;
	width: 100%;
}

input[name="course_qty"] {
	max-width: 100px;
}

.contact-page-submit{
	p{
		width: 100%;
		margin-left: 10px;
	}
	input[type="submit"]{
		height: 100%;
		cursor: pointer;
	}
}
@media (max-width: $screen-sm-max) {
	.wpcf7-form-control-wrap {
	    position: relative;
	    width: 100%;
	}
	.contact-page-submit{
		display: block!important;
	}
	.g-recaptcha{
		transform:scale(0.85);
		-webkit-transform:scale(0.85);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	.contact-page-submit input[type="submit"] {
	    height: 100%;
	    cursor: pointer;
	    display: block;
	    clear: both;
	    float: left;
	}
	.contact-page-submit p {
	    width: 100%;
	    margin-left: 0px;
	}
}
