@media (max-width: $screen-lg-max) {
	.hide-screen-lg-max{
		display: none !important;
	}


	body{
		>main{
			padding-top: 223px !important;
		}
	}
	.up-sells.upsells.products li .add_to_cart_button, .related.products li .add_to_cart_button{
		width: 120px;
	}
}
@media (min-width: $screen-lg-max) {
	.hide-screen-lg-min{
		display: none !important;
	}
	
}

@media (max-width: $screen-md-max) {

	body{
		>main{
			padding-top: 190px !important;
		}
	}
	
	.hide-screen-md-max{
		display: none !important;
	}
	.sidebar{
			display: none;
	}
	.col{
		min-width: 100%;
	}
	.course-category-details .course-register-links {
	    display: inline-block!important;
	    justify-content: center;
	    align-items: center;
			width: 100%;
	}
	.course-category-details .course-register-links * {
	    margin: 5px 0px!important;
	    /*width: 100%;*/
	}



}

@media (max-width: $screen-sm-max) {
	.hide-screen-sm-max{
		display: none !important;
	}
	main{
		.container-fluid{
		    padding-right: 30px;
		    padding-left: 30px;
		    .container{
				padding: 40px 0px !important;
		    }
		}
	}
}
