.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{

}

h1,.h1{
	font-size: 2.5rem;
	margin-bottom: 30px;
	font-weight: 600;
}
h2,.h2{
	font-size: 2.5rem;
	margin-bottom: 30px;
	font-weight: 600;
}
h3,.h3{
	font-size: 2.2rem;
	margin-bottom: 15px;
	font-weight: 600;
}
h4,.h4{
	font-size: 2rem;
	margin-bottom: 15px;
	font-weight: 600;
}
h5,.h5{
	font-size: 1.8rem;
	margin-bottom: 15px;
}
h6,.h6{
	font-size: 1.8rem;
	margin-bottom: 15px;
}

p{
	font-size: 1.6rem;
	margin-bottom: 15px;
}

a{
	color: darken($dark-yellow,15%);
	&:hover{
		color: darken($dark-yellow,30%);
	}
}

ul{
    padding-left: 20px;
	li{

	}
}
ol{
    padding-left: 20px;
	li{

	}
}


.container{
	p{
		&:last-child{
			margin-bottom: 0px;
		}
	}
}