.btn{
	font-size: 2rem;
	font-family: "Arial Narrow", Arial, sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    color: #231F20;

    &:hover{
    	background: darken($primary-color,5%);
    	border-color: darken($primary-color,5%);
    	color: #231F20;
    }
}

.btn-danger {
    color: #fff;
    background-color: $red;
    border-color: $red;
    color: #ffffff;

    &:hover{
    	background: darken($red,5%);
    	border-color: darken($red,5%);
    	color: #ffffff;
    }
}

