
.nav-next{
	a:hover{
		.btn-primary{
			background: darken($primary-color,5%);
	    	border-color: darken($primary-color,5%);
	    	color: #231F20;
		}
	}
}

.nav-previous{
	a:hover{
		.btn-primary{
			background: darken($primary-color,5%);
	    	border-color: darken($primary-color,5%);
	    	color: #231F20;
		}
	}
}



.posts{
	.post{
		h2{
			a{
				&:hover{
					color: $dark-yellow;
				}
			}
		}

	}
}


.blog-feed{
	.post{
		span{
			&.post-date{
				color: $dark-yellow;
			}
		}

		a{
			&.post-read-more{
				color: $dark-yellow;

				&:after{
				    border-left: 7px solid $dark-yellow;
				}
			}
		}

		&:hover{
			background: $dark-yellow;
		}

	}
}