.btn{
	font-size: 1.6rem;
	font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    font-weight: 100;
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    color: #231F20;

    &:hover{
    	background: darken($primary-color,5%);
    	border-color: darken($primary-color,5%);
    	color: #231F20;
    }
}

.btn-danger {
    color: #fff;
    background-color: $red;
    border-color: $red;
    color: #ffffff;

    &:hover{
    	background: darken($red,5%);
    	border-color: darken($red,5%);
    	color: #ffffff;
    }
}

.btn-info {
    color: #fff;
    background-color: $orange;
    border-color: $orange;
    color: #ffffff;

    &:hover{
    	background: darken($orange,5%);
    	border-color: darken($orange,5%);
    	color: #ffffff;
    }
}

.btn-warning {
    background-color: $black;
    border-color: $black;
    color: #ffffff;

    &:hover{
        background: $yellow;
        border-color: $yellow;
        color: #000000;
    }
}

.btn-blue {
    background-color: #03B1FF;
    border-color: #03B1FF;
    color: #ffffff;

    &:hover{
        background: #0065B3;
        border-color: #0065B3;
        color: #ffffff;
    }
}