.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    color: #231F20;

    &:hover{
    	background: darken($primary-color,5%);
    	border-color: darken($primary-color,5%);
    	color: #231F20;
    }
}

.btn-danger {
    color: #fff;
    background-color: $red;
    border-color: $red;
    color: #ffffff;

    &:hover{
    	background: darken($red,5%);
    	border-color: darken($red,5%);
    	color: #ffffff;
    }
}

.btn-info {
    color: #fff;
    background-color: $yellow;
    border-color: $yellow;
    color: #ffffff;

    &:hover{
    	background: darken($yellow,5%);
    	border-color: darken($yellow,5%);
    	color: #ffffff;
    }
}

.btn-warning {
    background-color: $black;
    border-color: $black;
    color: #ffffff;

    &:hover{
        background: lighten($black,20%);
        border-color: lighten($black,20%);
        color: #ffffff;
    }
}