h1 {
  font-size: 2.5rem;
  margin-bottom: 15px; }

h2 {
  font-size: 2.5rem;
  margin-bottom: 15px; }

h3 {
  font-size: 2.2rem;
  margin-bottom: 15px; }

h4 {
  font-size: 2rem;
  margin-bottom: 15px; }

h5 {
  font-size: 1.8rem;
  margin-bottom: 15px; }

h6 {
  font-size: 1.8rem;
  margin-bottom: 15px; }

p {
  font-size: 1.8rem;
  margin-bottom: 15px; }

a {
  color: #FFD500; }
  a:hover {
    color: #998000; }

.container p:last-child {
  margin-bottom: 0px; }

.main-header {
  padding: 20px 0; }
  .main-header form input[type="submit"] {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #58595B;
    border-left: none; }
  .main-header form input[type="search"] {
    background: #F1F2F2;
    border: 1px solid #58595B;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    width: 195px; }
  .main-header .header-call-to-action span {
    display: block; }
  .main-header .header-call-to-action .header-call-to-action-content {
    font-size: 1.6rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    padding: 0 35px; }
  .main-header .header-call-to-action .header-call-to-action-phone > span {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: #000000;
    font-size: 2.4rem;
    font-weight: 600; }
    .main-header .header-call-to-action .header-call-to-action-phone > span:first-child {
      color: #58595B;
      font-size: 1.8rem; }

.menu-section {
  background: #000;
  padding: 20px 0; }
  .menu-section .container {
    padding: 0px; }
  .menu-section .btn.btn-danger {
    border-radius: 7px; }

#mainMenu > #menu-main-menu > li {
  margin: 0 10px;
  position: relative; }
  #mainMenu > #menu-main-menu > li > a {
    color: #FFFFFF;
    font-size: 1.7rem;
    padding: 10px 0;
    transition: color .4s; }
    #mainMenu > #menu-main-menu > li > a.dropdown-toggle:after {
      display: none; }
  #mainMenu > #menu-main-menu > li:after {
    content: "";
    width: 0%;
    display: block;
    background: #ccaa00;
    height: 6px;
    position: absolute;
    bottom: 0px;
    transition: width .4s; }
  #mainMenu > #menu-main-menu > li:hover > a {
    color: #cccccc;
    transition: color .4s; }
  #mainMenu > #menu-main-menu > li:hover:after {
    width: 100%;
    transition: width .4s; }
  #mainMenu > #menu-main-menu > li.current-menu-item:after {
    width: 100%; }
  #mainMenu > #menu-main-menu > li.dropdown:hover > .dropdown-menu {
    display: block; }

#mainMenu .dropdown-menu {
  background: #000000;
  padding: 0px; }
  #mainMenu .dropdown-menu li a {
    font-size: 1.7rem;
    color: #ffffff; }
    #mainMenu .dropdown-menu li a:hover {
      background: #58595B; }
    #mainMenu .dropdown-menu li a:active, #mainMenu .dropdown-menu li a:focus {
      background: #FFD500;
      color: #000000; }

.upper-footer {
  background: #000000;
  color: #ffffff; }
  .upper-footer img {
    max-width: 100%;
    height: auto; }
  .upper-footer h5 {
    color: #FFD500; }
  .upper-footer div.d-flex > div {
    width: 25%;
    border-left: 1px solid #ffffff;
    padding: 0 30px; }
    .upper-footer div.d-flex > div ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .upper-footer div.d-flex > div ul li {
        margin-bottom: 5px; }
        .upper-footer div.d-flex > div ul li a {
          color: #ffffff;
          font-size: 1.6rem; }
          .upper-footer div.d-flex > div ul li a:hover {
            color: #e6e6e6; }
    .upper-footer div.d-flex > div:first-child {
      border-left: none; }
    .upper-footer div.d-flex > div.footer-logo img {
      margin-bottom: 20px; }
    .upper-footer div.d-flex > div.footer-logo span {
      font-size: 1.6rem;
      font-style: italic;
      font-family: "Arial Narrow", Arial, sans-serif; }
    .upper-footer div.d-flex > div.footer-contact > div {
      margin-bottom: 10px; }
      .upper-footer div.d-flex > div.footer-contact > div span {
        font-family: "Arial Narrow", Arial, sans-serif;
        font-size: 1.4rem;
        display: block; }
        .upper-footer div.d-flex > div.footer-contact > div span:first-child {
          font-size: 1.6rem;
          font-weight: 600; }

.footer-copy {
  background: #58595B;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  padding: 20px 0; }

.heading-qualification {
  position: relative;
  padding: 7px 30px; }
  .heading-qualification:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../../assets/images/check-mark.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px; }
  .heading-qualification:first-child {
    border-right: 1px solid #58595B;
    margin-right: 30px; }
  .heading-qualification span {
    display: block;
    color: #58595B;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem; }
    .heading-qualification span:first-child {
      font-size: 1.6rem;
      line-height: 2rem;
      color: #000000;
      font-weight: 900; }

.upper-footer .heading-qualification {
  padding: 7px 20px 7px 30px; }
  .upper-footer .heading-qualification:before {
    background-image: url("../../assets/images/check-mark-white.png"); }
  .upper-footer .heading-qualification span {
    color: #fff; }
    .upper-footer .heading-qualification span:first-child {
      color: #fff; }

.btn {
  font-size: 2rem;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 600; }

.btn-primary {
  color: #fff;
  background-color: #FFD500;
  border-color: #FFD500;
  color: #231F20; }
  .btn-primary:hover {
    background: #e6c000;
    border-color: #e6c000;
    color: #231F20; }

.btn-danger {
  color: #fff;
  background-color: #FF0000;
  border-color: #FF0000;
  color: #ffffff; }
  .btn-danger:hover {
    background: #e60000;
    border-color: #e60000;
    color: #ffffff; }

.btn-info {
  color: #fff;
  background-color: #F6921E;
  border-color: #F6921E;
  color: #ffffff; }
  .btn-info:hover {
    background: #f1860a;
    border-color: #f1860a;
    color: #ffffff; }

.btn-warning {
  color: #fff;
  background-color: #FFD500;
  border-color: #FFD500;
  color: #000; }
  .btn-warning:hover {
    background: #e6c000;
    border-color: #e6c000;
    color: #000; }

html {
  font-size: 10px;
  line-height: 10px; }

body {
  font-family: Arial, sans-serif;
  font-size: 1.8rem;
  color: #000000; }

img.aligncenter {
  float: none; }

img.alignleft {
  float: left; }

img.alignright {
  float: right; }

.container {
  padding: 40px 0; }

.full-width-cta {
  padding: 30px 0; }
  .full-width-cta .full-width-cta-text {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: italic;
    margin: 0 40px; }

.fork-lift {
  background: url("../../assets/images/fork-lift.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  width: 540px;
  left: -50px; }

.fork-lift-animated {
  -webkit-animation: movingforklift 2s infinite;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes movingforklift {
  from {
    left: -50px;
    width: 540px; }
  to {
    left: -180px;
    width: 601px; } }

.sponsors-list {
  padding: 40px 0; }
  .sponsors-list img {
    margin: 10px; }

.white-text {
  color: #fff; }

.aligncenter {
  text-align: center; }

.alignleft {
  text-align: left; }

.alignright {
  text-align: right; }

.testimonials-wrapper {
  color: #fff;
  text-align: center;
  background-image: url(../../assets/images/testimonials-bg.png);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-size: 2.2rem;
  padding: 50px 15px; }
  .testimonials-wrapper:after {
    content: "";
    background-color: rgba(35, 31, 32, 0.93);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 1; }
  .testimonials-wrapper > div {
    position: relative;
    z-index: 2; }
  .testimonials-wrapper h5 {
    font-size: 25px;
    margin-bottom: 60px; }
  .testimonials-wrapper p {
    font-size: 2.2rem; }
  .testimonials-wrapper .stars {
    margin-bottom: 20px; }
  .testimonials-wrapper .carousel-item {
    padding: 0 135px; }
  .testimonials-wrapper .carousel-control-next, .testimonials-wrapper .carousel-control-prev {
    width: 5%; }

.blog-feed .post {
  width: 30%;
  border: 1px solid #58595B;
  padding: 25px;
  font-size: 1.6rem;
  position: relative;
  transition: background-color 0.5s ease, box-shadow 0.5s ease; }
  .blog-feed .post span {
    display: block;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    transition: color 0.5s ease; }
    .blog-feed .post span.post-date {
      color: #D49D1C;
      font-size: 1.6rem; }
    .blog-feed .post span.post-title {
      font-size: 1.8rem; }
  .blog-feed .post p {
    font-size: 1.6rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    transition: color 0.5s ease; }
  .blog-feed .post a.post-read-more {
    color: #D49D1C;
    transition: color 0.5s ease;
    position: relative; }
    .blog-feed .post a.post-read-more:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #D49D1C;
      position: absolute;
      right: -15px;
      top: 2px;
      transition: border-left-color 0.5s ease; }
  .blog-feed .post:hover {
    background: #D49D1C;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer; }
    .blog-feed .post:hover span.post-date {
      color: #fff; }
    .blog-feed .post:hover span.post-title {
      color: #fff; }
    .blog-feed .post:hover p {
      color: #fff; }
    .blog-feed .post:hover a.post-read-more {
      color: #fff; }
      .blog-feed .post:hover a.post-read-more:after {
        border-left: 7px solid #fff; }

/*# sourceMappingURL=main.css.map */
