a {
  color: #F6921E; }
  a:hover {
    color: #a75d07; }

@media (min-width: 1200px) {
  #mainMenu > #menu-main-menu > li:after {
    background: #d87809; } }

#mainMenu .dropdown-menu li a:active, #mainMenu .dropdown-menu li a:focus {
  background: #F6921E; }

@media (max-width: 1199px) {
  #mainMenu > #menu-main-menu li a:active, #mainMenu > #menu-main-menu li a:focus {
    background: #F6921E; }
  #mainMenu > #menu-main-menu li.current-menu-item > a {
    background: #F6921E; } }

.banner-section .banner-content > div:first-child {
  background: rgba(246, 146, 30, 0.9); }

.page-title-section {
  background: rgba(246, 146, 30, 0.9); }

.nav-next a:hover .btn-primary {
  background: #f1860a;
  border-color: #f1860a;
  color: #231F20; }

.nav-previous a:hover .btn-primary {
  background: #f1860a;
  border-color: #f1860a;
  color: #231F20; }

.posts .post h2 a:hover {
  color: #D49D1C; }

.blog-feed .post span.post-date {
  color: #D49D1C; }

.blog-feed .post a.post-read-more {
  color: #D49D1C; }
  .blog-feed .post a.post-read-more:after {
    border-left: 7px solid #D49D1C; }

.blog-feed .post:hover {
  background: #D49D1C; }

form > div.form-header {
  background-color: #F6921E; }

.testimonials-wrapper {
  background-image: url(../../assets/images/construction-field.jpg); }

.upper-footer h5 {
  color: #F6921E; }

.btn-primary {
  color: #fff;
  background-color: #F6921E;
  border-color: #F6921E;
  color: #231F20; }
  .btn-primary:hover {
    background: #f1860a;
    border-color: #f1860a;
    color: #231F20; }

.btn-danger {
  color: #fff;
  background-color: #FF0000;
  border-color: #FF0000;
  color: #ffffff; }
  .btn-danger:hover {
    background: #e60000;
    border-color: #e60000;
    color: #ffffff; }

.btn-info {
  color: #fff;
  background-color: #FFD500;
  border-color: #FFD500;
  color: #ffffff; }
  .btn-info:hover {
    background: #e6c000;
    border-color: #e6c000;
    color: #ffffff; }

.btn-warning {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff; }
  .btn-warning:hover {
    background: #333333;
    border-color: #333333;
    color: #ffffff; }

.card .card-header {
  background-color: #F6921E; }

.constuction-hat {
  background: url("../../assets/images/constuction-hat.png");
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  width: 575px;
  left: -60px; }

.white-text {
  color: #ffffff; }

.pdf-download:hover span.pdf-download-download {
  background: #F6921E; }

.product-boxes > div {
  background: #231F20; }

.product-boxes-images {
  justify-content: space-between;
  margin-bottom: 0px;
  flex-wrap: wrap;
  text-align: center;
  display: inline-block; }
  .product-boxes-images > div {
    background: #231F20;
    width: 29%;
    margin-right: 40px;
    margin-top: 40px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    flex-flow: row wrap;
    min-height: 280px;
    float: left; }
    .product-boxes-images > div h3 {
      color: #ffffff;
      font-size: 20px; }
    .product-boxes-images > div a {
      margin-bottom: 20px; }

.viewcourses {
  font-size: 20px;
  display: table;
  float: none;
  margin: auto;
  padding: 15px 20px;
  margin-bottom: 60px; }

.course-category-details .course-container .course-header {
  background-color: #F6921E; }
  .course-category-details .course-container .course-header .course-header-bg {
    background-image: url("../../assets/images/construction-bg.png"); }

.category-list > li > ul > li > a:before {
  border-left: 12px solid #F6921E; }

.category-list > li > ul > li > a:hover, .category-list > li > ul > li > a.active {
  background-color: #F6921E; }

/*# sourceMappingURL=main.css.map */
