@import "partials/_mixins";
@import "partials/_typeography";

@import "partials/_header";
@import "partials/_main_menu";
@import "partials/_banner_slider";
@import "partials/_blog";
@import "partials/_form";
@import "partials/_testimonials";
@import "partials/_footer";
@import "partials/_woocommerce";

@import "partials/_responsive";

//BOOTSTRAP COMPONENTS
@import "partials/components/_buttons";
@import "partials/components/_card";
@import "partials/components/_modal";
@import "partials/components/_alert";

html{
	font-size: 10px;
	line-height: 10px;
}

body{
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	color: $black;
	>main{
		padding-top: 250px;
	}
}
button{
	cursor: pointer;
}
img{
	max-width: 100%;
	&.aligncenter{
	    float: inherit;
	    margin: 0 auto;
	    display: block;
	}
	&.alignleft{
		float: left;
	}
	&.alignright{
		float: right;
	}
}

a{
	transition: all 0.2s ease-in-out;
}

.grey-background{
	background-color: #F1F2F2;
}

.margin-bottom5{
	margin-bottom: 5px;
}

.container{
	@media (min-width: $screen-sm-min) {
		padding: 40px 0;
	}
	@media (max-width: $screen-sm-max) {
		padding: 40px 30px;
	}

	&.padding0{
		padding: 0px;
	}
}


.full-width-cta{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	.full-width-cta-text{
		color: #FFFFFF;
		font-size: 2.2rem;
		font-weight: 100;
		font-style: italic;
		margin: 0 40px;
	}

	@media (max-width: $screen-md-max) {
		flex-direction: column;
		.full-width-cta-text{
			margin-bottom: 10px;
			text-align: center;
		}
	}
}








.heading-qualification{
	position: relative;
	padding: 7px 30px;

	&:before{
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		background-image: url('../../assets/images/check-mark.png');
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -10px;
	}

	&:first-child{
		border-right: 1px solid #58595B;
		margin-right: 30px;
	}

	span{
		&:first-child{
			font-size: 1.6rem;
			line-height: 2rem;
			color: #000000;
			font-weight: 900;
		}
		display: block;
		color: #58595B;
		font-family: "Arial Narrow", Arial, sans-serif;
		font-size: 1.3rem;
		line-height: 1.8rem;
	}
}

.upper-footer{
	.heading-qualification{
		padding: 7px 20px 7px 30px;
		&:before{
			background-image: url('../../assets/images/check-mark-white.png');
		}
		span{
			&:first-child{
				color: #fff;
			}
			color: #fff;
		}
	}
}





@media (min-width: $screen-lg-max) {

	.fork-lift{
		background: url('../../assets/images/fork-lift.png');
		background-repeat: no-repeat;
	    background-size: cover;
	    position: relative;
		height: 400px;
		width: 575px;
		left: -40px;
	}

	.fork-lift-animated{
		-webkit-animation:movingforklift 2s infinite;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes movingforklift{
	  from{
	  	left:-40px;
	  	width: 575px;
	  }
	  to{
	  	left:-40px;
	  	width: 601px;
	  }
	}

}










.fifty-fifty-section-background{
	background-repeat: no-repeat;
	&.left{
		background-position: left;
	}
	&.right{
		background-position: right;
	}
}




.sponsors-list{
	padding: 40px 0;

	img{
		margin:10px;
	}
}






.white-text{
	color: #fff;
}

.aligncenter{
	text-align: center;
}
.alignleft{
	text-align: left;
}
.alignright{
	text-align: right;
}










.pdf-download{
	margin-top: 10px;

	&:first-child{
		margin-top: 0px;
	}

	img{

	}
	span.pdf-download-download{
	    background: #231F20;
	    color: #ffffff;
	    font-size: 1.2rem;
	    padding: 4px 10px;
	    display: block;
        margin-top: 4px;
	    margin-left: -3px;
	    transition: all 0.2s ease-in-out;
	}
	span.pdf-download-title{
		margin-left: 10px;
		color: #000000;
	}

	&:hover{
		text-decoration: none;
		span.pdf-download-download{
			padding: 4px 15px;
			background: $yellow;
			color: $black;
		}
		span.pdf-download-title{
			text-decoration: underline;
		}
	}
}

.download-section{
	h4{
		padding-left:125px;
	}
}






.fifty-percent-section.grey-background{
	width: 550px;
    padding: 40px;
    height: 100%;
    &.right{
    	float: right;
    }
}






.product-boxes{
	/*justify-content: space-between;*/
	margin-bottom: 40px;
	flex-wrap: wrap;

	&.product-boxes{
		&.product-boxes-home{
			>div{
				width: 29%;
				@media (max-width: $screen-lg-max) {
					width: 21%;
				}
				@media (max-width: $screen-md-max) {
					width: 28%;
				}

				@media (max-width: $screen-sm-max) {
					width: 42%;
				}
				@media (max-width: $screen-xsm-max) {
					width: 100%;
				}


			}
			@media (min-width: $screen-lg-min) {
			    padding: 40px 122px;
			    justify-content: space-between;
		    }
		}

		&.in-sidebar{
			div{
				width: 100%;
			}
		}
	}

	/*
	&:after{
		content: "";
        width: 250px;
	}
	*/

	>div{
		margin-left: 17px;
		margin-right: 17px;
		display: flex;
	    flex-direction: column;
		background: #58595B;
		margin-bottom: 40px;

		width: 22%;
		@media (max-width: $screen-lg-max) {
			width: 21%;
		}
		@media (max-width: $screen-md-max) {
			width: 28%;
		}

		@media (max-width: $screen-sm-max) {
			width: 42%;
		}
		@media (max-width: $screen-xsm-max) {
			width: 100%;
		}

		>img{
			align-self: center;
			height: auto;
		}
		> div{
		    padding: 20px 20px 50px 20px;
		    text-align: center;
		    height: 100%;
		    position: relative;

			>.btn-primary{
			    margin-top: auto;
			    position: absolute;
			    bottom: 20px;
			    width: 120px;
			    margin-left: -60px;
			    left: 50%;
			}

			h3{
				color: #ffffff;
				font-size: 1.6rem;
				font-weight: 100;
				line-height: 22px;

			}

		}

	}
}

.product-boxes-images{
    justify-content: space-between;
    margin-bottom: 0px;
    flex-wrap: wrap;
    text-align: center;
    display: inline-block;

	>div{
		>div{
			background: #58595B;
		    width: 29%;
		    margin-right: 40px;
		    margin-top: 40px;
		    padding: 0px;
		    text-align: center;
		    display: inline-block;
		    flex-flow: row wrap;
		    min-height: 280px;
		    float: left;
				h3{
					color: #ffffff;
					font-weight: 2.0rem;
					font-weight: 100;
				}
				a{
					margin-bottom: 20px;
				}
			}
		}
}
.viewcourses{
	font-size: 20px;
	display: table;
	float: none;
	margin: auto;
	padding: 15px 20px;
	margin-bottom: 60px;
}

.search_courses_form{
	display: flex;
	justify-content: space-between;
	padding: 0 60px;

	select,input{
		margin: 0 10px;
	}
	select{
		background-color: #FFD500;
		border: 1px solid #000;
		flex-basis: auto;
	}
	input{
		flex-basis: 0;
	    padding: 0 40px;
	}
}

.course-list{
	.course{
		&:first-child{
			border-top: none;
			padding-top: 0px;
			margin-top: 0px;
		}

		border-top: 1px solid #58595B;
		padding-top: 50px;
		margin-top: 50px;

		.course-header{
			display: flex;
			margin-bottom: 30px;
			.course-date{
				border: 1px solid #000000;
				font-size: 2.5rem;
				font-weight: 900;
				width: 95px;
				text-align: center;
				margin-right: 30px;
				display: flex;
				flex-direction: column;
				span{
					display: block;
					color: #000000;
					padding: 5px 0;
					flex-grow: 1;
					+span{
						background: #000000;
						color: #ffffff;
					}
				}
			}
			.course-title{
				h2{
					margin-bottom: 15px;
				}
				span{
					display: block;
					&:before{
					    content: "";
					    width: 16px;
					    height: 22px;
					    background-image: url(../../assets/images/course-time.png);
					    background-repeat: no-repeat;
					    display: block;
					    float: left;
					    margin-right: 5px;
					    background-position: center;
					}
					+span{
						&:before{
							background-image: url('../../assets/images/course-location.png');
						}
					}
				}
			}
		}
		.course-content{

		}
	}
}







.course-category-details{
	display: flex;

	.category-container{
		width: 415px;
		margin-right: 20px;
		order: 1;
	}
	.course-container{
		width: 100%;
		order: 2;
		.course-header{
			background-color: $yellow;
			margin-bottom: 20px;
			.course-header-bg{
				background-image: url('../../assets/images/construction-bg.png');
				box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
				background-repeat: repeat-x;
				height: 62px;
			}

			.course-header-details{
				display: flex;
				justify-content: space-between;
				padding-left: 20px;
				h3{
					//padding-top: 50px;
					align-self: flex-end;

				}
				.course-type-container{
					background: #F1F2F2;
					text-align: center;
					padding-top: 10px;

					> h5{
						margin-bottom: 0px;
						font-size: 12px;
					}

					> div{
						display: flex;

						padding: 20px;

						span{
							margin-left: 15px;
							&:first-child{
								margin-left: 0px;
							}
						}
					}

				}
			}

		}

		.course-detail{
			padding: 20px;

			p {
				font-size: 1.6rem;
			}
		}

	}


	.course-register-links{
		display: flex;
		justify-content: start;
		align-items: center;

		*{
			&:first-child{
				margin-left: 0px;
			}
			margin: 0 10px;
		}
	}
}



.online-course-cta{
	h2{
		margin-bottom: 10px;
	}
	p{
		color: $yellow;
		font-size: 2.2rem
	}
}

.course-category-details .category-container {
    width: 415px;
    margin-right: 20px;
    background-color: #F1F2F2;
    padding-bottom: 40px;
    margin-bottom: -40px;
}
.category-background {
    position: absolute;
    height: 105%;
    left: -59%;
    width: 85%;
    top: -20px;
	z-index: -1;
    background-color: #F1F2F2;
}
.category-background-course-dates {
    position: absolute;
    height: 105%;
    left: -62%;
    width: 85%;
    top: -20px;
	z-index: -1;
    background-color: #F1F2F2;
}

.course-type-public{
	width: 62px;
	height: 62px;
	display: block;
	background-image: url('../../assets/images/course-public-new.png');
	background-repeat: no-repeat;
	background-position: center;
}
.course-type-private{
	width: 62px;
	height: 62px;
	display: block;
	background-image: url('../../assets/images/course-private-new.png');
	background-repeat: no-repeat;
	background-position: center;
}
.course-type-online{
	width: 62px;
	height: 62px;
	display: block;
	background-image: url('../../assets/images/course-online.png');
	background-repeat: no-repeat;
	background-position: center;
}

.category-list{
	list-style: none;
	padding: 0px;
	>li{
		position: relative;
		>a{
			position: relative;
			color: #000000;
			font-size: 2.0rem;
			font-weight: 600;
			display: block;
			padding: 5px;
			text-decoration: none;
			margin-bottom: 10px;
			padding-left: 20px;

			&:hover{
				background-color: #D1D3D4;
			}

			&:not(.collapsed){
				&:before{
					content: '-';
				}
				background-color: #D1D3D4;
			}


			&:before{
			    content: '+';
			    position: absolute;
			    left: 5px;
			}

		}



		>ul{
			list-style: none;
			padding: 0px;
			padding-left: 45px;
			>li{
				position: relative;
				>a{
					position: relative;
					color: #000000;
					font-size: 1.6rem;
					font-weight: 100;
					padding: 5px;
					display: block;
					margin-bottom: 10px;

					&:before{
				        content: '';
					    width: 0;
					    height: 0;
					    border-top: 7px solid transparent;
					    border-bottom: 7px solid transparent;
					    border-left: 12px solid #FFD500;
					    position: absolute;
					    top: 11px;
					    left: -22px;
					    top: 50%;
					    margin-top: -8px;
					}

					&:hover,
					&.active{
						text-decoration: none;
						background-color: #FFD500;
					}
				}
			}
		}
	}
}





#requestInformationModal{
	.modal-content{
		background: #58595B;

		.modal-body{
			padding-top: 0px;

			img{
			    max-width: 100%;
			    height: auto;
			}
		}

		.d-flex{

			@media (max-width: $screen-md-min) {
				flex-direction: column;
			}

			form{
				width: 580px;
				margin-right: 50px;

				@media (max-width: $screen-lg-min) {
					width: 380px;
				}
				@media (max-width: $screen-md-min) {
					width: 100%;
				}

			}
			.request-information-modal-content{
				text-align: right;
			    display: block;


			    p{
			    	font-size: 2.2rem;
			    }

			    .request-information-modal-content-phone{
			    	p{
			    		font-size: 2.5rem;
			    	}
			    }

			    > div{
			    	&:first-child{
			    		margin-top: 150px;
			    	}
			    }
			}
		}

		.close-model{
		    position: absolute;
		    right: 5px;
		    top: 5px;
		    border-radius: 100px;
		    color: #fff;
		    font-size: 32px;
		    padding: 0 7px;
		    z-index: 100;
		    height: 30px;
		    width: 30px;
		    line-height: 30px;
			&:after{
			    content: 'x';
			    position: absolute;
			    font-size: 25px;
			    top: 5px;
			    left: 9px;
			    line-height: 17px;
			    color: #ffffff;
			}
		}
	}
}



.social-icon{
	display: block;
	width: 39px;
	height: 39px;
	background: url('../../assets/images/social-icons/social-sprite.png');
	transition: none;
	float: left;
	margin: 100px 8px 0px;

	@media (max-width: $screen-lg-max) {
		margin: 10px 8px 0px;
	}

	&.facebook{
		background-position: 0 0;
		&:hover{
			background-position: 0 -40px;
		}
	}
	&.twitter{
		background-position: -40px 0;
		&:hover{
			background-position: -40px -40px;
		}
	}
	&.google{
		background-position: -79px 0;
		&:hover{
			background-position: -79px -40px;
		}
	}
	&.linked-in{
		background-position: -118px 0;
		&:hover{
			background-position: -118px -40px;
		}
	}
}


.related.products{
	h2{
		text-transform: capitalize;
	}
	.products{
		flex-wrap:wrap;
		display: flex;
	}
}




.mobileMenuOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	left: 0px;
	top: 0px;
	display: none;
	z-index: 100;
}


@media (max-width: $screen-sm-max) {

	.category-container{
		order: 2;
	}
	.course-container{
		order: 1;
	}

	.category-background {
			background-color: none;
			display: none;
	}
	.course-category-details .category-container {
	    width: 100%;
	    display: block;
	}
	.course-category-details {
	    display: block;
	}
}





.courseBlock{
	display:flex;
	margin-bottom:25px;

	h3,h5{
		margin-bottom: 10px;
	}

	> img{
		max-width: 170px;
		height: 115px;

		+ div {
			flex-basis: 400px;
			flex-shrink: 0;
			border: none;
		}
	}
	> div{
		margin-left:10px;
		max-width: 400px;
		border-left: 1px solid #999;

		&.courseType{
			display: flex;
			flex-direction: column;
			justify-content: center;
			span{
				padding-left: 10px;
			}
		}
		&.coursePrice {
			display: flex;
			flex-direction: column;
			justify-content: center;
			p {
				padding-left: 10px;
			}
			h3 {
				margin-bottom: 0;
				padding-bottom: 10px;
				padding-left: 10px;
			}
		}
	}
	+ hr {
		border-top: 1px solid #999;
		margin-bottom: 25px;
	}
}

.courseCategories{
	list-style:none;
	padding-left:0px;
	> li{
		padding: 3px;
		margin-bottom:10px;
		label{
			display:flex;
			align-items: center;
			font-size:14px;
			font-family: Arial, sans-serif;
    		font-size: 1.8rem;
		}
		input{
			float:left;
			width:auto;
			margin-right:10px;
		}
		a {
			color: #000;
			display: block;
			position: relative;

			&:before {
				content: '';
			    width: 0;
			    height: 0;
			    border-top: 7px solid transparent;
			    border-bottom: 7px solid transparent;
			    border-left: 12px solid #FFD500;
			    position: absolute;
			    top: 11px;
			    left: -22px;
			    top: 50%;
			    margin-top: -8px;
			}
			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			background: $primary-color;
		}
		&.active-category {
			background: $primary-color;
		}
	}
}

.courseSort{
	margin-bottom:20px;
	> a{
		color:#000;
		&.active{
			color:#D49D1C;
		}
	}
}
.card-group {
	&.course-specs {
		text-align: center;
		h5 {
			padding: 25px 0;
			font-weight: 600;
			border-bottom: 5px solid #ccc;

			&.bg-orange {
				background: #ff5d00;
			}
			&.bg-green {
				background: #59af19;
			}
		}
	}
	.card {
		background: #f9f9f9;
		&:nth-child(2) {
			background: #ececec;
		}
		.card-block {
			&.px-0 {
				> div {
					border-bottom: 1px solid #e0e0e0;
					padding: 15px 0;
					p {
						&:first-child {
							margin-bottom: 5px;
						}
						&:last-child {
							margin-bottom: 0;
						}
						img {
							margin-left: 15px;
							margin-right: 30px;
						}
					}
					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}
.course-detail-section{
	margin-bottom:25px;
	.courseType{
		display:flex;
		justify-content: left;
		span{
			margin-right:10px;
		}
	}
	&.price {
		width: 70%;
		background: #ffb062;
		margin-bottom: 10px;

		span {
			padding: 3px 0;
			text-align: center;
			display: block;
			width: 100%;
			background: #ff5d00;
			font-weight: 600;
		}
		h3 {
			margin: 10px 0 5px;
		}
		p {
			padding-bottom: 10px;
		}
	}
	&.callToActions{
		display:flex;
		flex-direction:column;
		> a{
			width:175px;
			margin-bottom:5px;
		}
		> button{
			width:175px;
			margin-bottom:5px;
		}
	}
	p,li {
		font-size: 1.6rem;
	}
}
span.course-span {
	width: 70%;
	display: block;
	font-weight: 600;
	text-align: center;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

	&.book-on-site {
		background: $yellow;
		margin-bottom: 10px;
	}
	&.book-classroom {
		background: #59af19;
		margin-bottom: 10px;

		&:hover {
			background: darken(#59af19,5%);
		}
	}
	* {
		padding: 3px 0;
		width: 100%;
		display: block;
		color: #000;
		font-weight: 600;
		font-size: 1.8rem;
		font-family: 'Arial', sans-serif;

		&:hover {
			text-decoration: none;
		}
	}
}
.loader {
	display: none;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #000000;
  background: -moz-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #000000 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #000000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mt-10 {
	margin-top: 5rem;
}
.mb-10 {
	margin-bottom: 5rem;
}
.btn-green {
	background-color: #59af19;
	border: 1px solid #59af19;
	color: #fff;

	&:hover {
		background-color: darken(#59af19,10%);
		border: 1px solid darken(#59af19,10%);
		color: #fff;
	}
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}