@import "partials/_mixins";
@import "partials/_typeography";

@import "partials/_header";
@import "partials/_main_menu";
@import "partials/_banner_slider"; 
@import "partials/_blog"; 
@import "partials/_form";
@import "partials/_testimonials";
@import "partials/_footer";

@import "partials/_responsive";

//BOOTSTRAP COMPONENTS
@import "partials/components/_buttons";

html{
	font-size: 10px;
	line-height: 10px;
}

body{
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	color: $black;
}


img{
	max-width: 100%;
	&.aligncenter{
		float:none;
	}
	&.alignleft{
		float: left;
	}
	&.alignright{
		float: right;
	}
}

a{
	transition: all 0.2s ease-in-out;
}

.grey-background{
	background-color: #F1F2F2;
}

.margin-bottom5{
	margin-bottom: 5px;
}

.container{
	@media (min-width: $screen-sm-min) {
		padding: 40px 0;
	}
	@media (max-width: $screen-sm-max) {
		padding: 40px 30px;
	}

	&.padding0{
		padding: 0px;
	}
}


.full-width-cta{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	.full-width-cta-text{
		color: #FFFFFF;
		font-size: 2.5rem;
		font-weight: 600;
		font-style: italic;
		margin: 0 40px; 
	}

	@media (max-width: $screen-md-max) {
		flex-direction: column;
		.full-width-cta-text{
			margin-bottom: 10px;
			text-align: center;
		}
	}
}








.heading-qualification{
	position: relative;
	padding: 7px 30px;

	&:before{
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		background-image: url('../../assets/images/check-mark.png');
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -10px;
	}

	&:first-child{
		border-right: 1px solid #58595B;
		margin-right: 30px;
	}

	span{
		&:first-child{
			font-size: 1.6rem;
			line-height: 2rem;
			color: #000000;
			font-weight: 900;
		}
		display: block;
		color: #58595B;
		font-family: "Arial Narrow", Arial, sans-serif;
		font-size: 1.3rem;
		line-height: 1.8rem;
	}
}

.upper-footer{
	.heading-qualification{
		padding: 7px 20px 7px 30px;
		&:before{
			background-image: url('../../assets/images/check-mark-white.png');
		}
		span{
			&:first-child{
				color: #fff;
			}
			color: #fff;
		}
	}
}







.fork-lift{
	background: url('../../assets/images/fork-lift.png');
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 400px;
	width: 575px;
	left: -100px;
}

.fork-lift-animated{
	-webkit-animation:movingforklift 2s infinite;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes movingforklift{
  from{
  	left:-100px;
  	width: 575px;
  }
  to{
  	left:-180px;
  	width: 601px;
  }
}












.fifty-fifty-section-background{
	background-repeat: no-repeat;
	&.left{
		background-position: left;
	}
	&.right{
		background-position: right;
	}
}




.sponsors-list{
	padding: 40px 0;

	img{
		margin:10px;
	}
}






.white-text{
	color: #fff;
}

.aligncenter{
	text-align: center;
}
.alignleft{
	text-align: left;
}
.alignright{
	text-align: right;
}










.pdf-download{
	margin-top: 10px;

	&:first-child{
		margin-top: 0px;
	}

	img{

	}
	span.pdf-download-download{
	    background: #231F20;
	    color: #ffffff;
	    font-size: 1.2rem;
	    padding: 4px 10px;
	    display: block;
        margin-top: 4px;
	    margin-left: -3px;
	    transition: all 0.2s ease-in-out;
	}
	span.pdf-download-title{
		margin-left: 10px;
		color: #000000;
	}

	&:hover{
		text-decoration: none;
		span.pdf-download-download{
			padding: 4px 15px;
			background: $yellow;
			color: $black;
		}
		span.pdf-download-title{
			text-decoration: underline;
		}
	}
}

.download-section{
	h4{
		padding-left:125px;
	}
}






.fifty-percent-section.grey-background{
	width: 550px;
    padding: 40px;
    height: 100%;
    &.right{
    	float: right;
    }
}
