@import "partials/_mixins";
@import "partials/_typeography";

@import "partials/_header";
@import "partials/_main_menu";
@import "partials/_footer";
@import "partials/_qualification"; 
@import "partials/_banner"; 
@import "partials/_blog"; 


//COMPONENTS
@import "partials/components/_buttons";

html{
	font-size: 10px;
	line-height: 10px;
}

body{
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	color: $black;
}


img{
	max-width: 100%;
	&.aligncenter{
		float:none;
	}
	&.alignleft{
		float: left;
	}
	&.alignright{
		float: right;
	}
}

.grey-background{
	background-color: #F1F2F2;
}

.container{
	padding: 40px 0;

	&.padding0{
		padding: 0px;
	}
}


.full-width-cta{
	padding: 30px 0;
	.full-width-cta-text{
		color: #FFFFFF;
		font-size: 2.5rem;
		font-weight: 600;
		font-style: italic;
		margin: 0 40px; 
	}
}




.fork-lift{
	background: url('../../assets/images/fork-lift.png');
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 400px;
	width: 575px;
	left: -100px;
}

.fork-lift-animated{
	-webkit-animation:movingforklift 2s infinite;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes movingforklift{
  from{
  	left:-100px;
  	width: 575px;
  }
  to{
  	left:-180px;
  	width: 601px;
  }
}



.fifty-fifty-section-background{
	background-repeat: no-repeat;
	&.left{
		background-position: left;
	}
	&.right{
		background-position: right;
	}
}

.fifty-percent-section{
	width: 550px;
    padding: 40px;
    height: 100%;
    &.right{
    	float: right;
    }
}





.sponsors-list{
	padding: 40px 0;

	img{
		margin:10px;
	}
}






.white-text{
	color: #fff;
}

.aligncenter{
	text-align: center;
}
.alignleft{
	text-align: left;
}
.alignright{
	text-align: right;
}






.testimonials-wrapper{
    color: #fff;
    text-align: center;
    background-image: url(../../assets/images/factory-testimonials-tall.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-size: 2.2rem;
    padding: 50px 15px;

	&:after{
		content: "";
		background-color: rgba(35,31,32,.93);
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		position: absolute;
		z-index: 1;
	}

	>div{
		position: relative;
		z-index: 2;
	}

	h5{
		font-size: 25px;
		margin-bottom: 60px;
	}
	p{
		font-size: 2.2rem;
	}

	.stars{
		margin-bottom: 20px;
	}

	.carousel-item{
		padding: 0 135px;
	}

	.carousel-control-next, .carousel-control-prev{
		width: 5%;
	}
}








.blog-feed{
	.post{
		width: 30%;
		border: 1px solid #58595B;
		padding: 25px;
		font-size: 1.6rem;
		position: relative;

		transition: background-color 0.5s ease, box-shadow 0.5s ease;

		span{
			display: block;
			font-family: "Arial Narrow", Arial, sans-serif;
			font-weight: 600;
			margin-bottom: 10px;
			transition: color 0.5s ease;

			&.post-date{
				color: $dark-yellow;
				font-size: 1.6rem;
			}
			&.post-title{
				font-size: 1.8rem;
			}
		}

		p{
			font-size: 1.6rem;
			font-family: "Arial Narrow", Arial, sans-serif;
			transition: color 0.5s ease;
		}

		a{
			&.post-read-more{
				color: $dark-yellow;
				transition: color 0.5s ease;
				position: relative;

				&:after{
				    content: "";
				    width: 0;
				    height: 0;
				    border-top: 7px solid transparent;
				    border-bottom: 7px solid transparent;
				    border-left: 7px solid $dark-yellow;
				    position: absolute;
				    right: -15px;
				    top: 2px;
				    transition: border-left-color 0.5s ease;
				}
			}
		}

		&:hover{
			background: $dark-yellow;
		    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		    cursor: pointer;

			span{
				&.post-date{
					color: #fff;
				}
				&.post-title{
					color: #fff;
				}
			}
			p{
				color: #fff;
			}
			a{
				&.post-read-more{
					color: #fff;

					&:after{
						border-left: 7px solid #fff;
					}
				}
			}
		}

	}
}





.pdf-download{
	margin-top: 10px;

	&:first-child{
		margin-top: 0px;
	}

	img{

	}
	span.pdf-download-download{
	    background: #231F20;
	    color: #ffffff;
	    font-size: 1.2rem;
	    padding: 4px 10px;
	    display: block;
        margin-top: 4px;
	    margin-left: -3px;
	    transition: all 0.2s ease-in-out;
	}
	span.pdf-download-title{
		margin-left: 10px;
		color: #000000;
	}

	&:hover{
		text-decoration: none;
		span.pdf-download-download{
			padding: 4px 15px;
			background: $yellow;
			color: $black;
		}
		span.pdf-download-title{
			text-decoration: underline;
		}
	}
}

.download-section{
	h4{
		padding-left:125px;
	}
}







